@import "../../styles/contants.scss";

.cta {
  background-color: $primary;
  color: $secondary-white;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  font-size: small;

  @media (min-width: $md) {
    font-size: medium;
    padding: 0.8rem 3rem;
  }
}
