@import "../../styles/contants.scss";

.wrapper {
  //   padding: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;

  @media (max-width: $sm) {
    flex-direction: column;
  }

  .heroImg {
    max-width: 200px;
  }

  .tagline {
    margin-bottom: 1.5rem;
    span {
      font-weight: 700;
      font-size: 3rem;
    }
  }

  .heading {
    margin-bottom: 1rem;
  }

  .details {
    margin-bottom: 1.5rem;
  }

  .cta {
    background-color: $primary;
    color: $secondary-white;
    padding: 1rem 0.8rem;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
